<!DOCTYPE html>
<html>

<body>
<h4>Go back to index page: <a href='/'>index lage</a></h4>
{% if data2.exists == False%}
   <h2> This member with member_id {{data2.member_id}} did not attend any events </h2>
   {% endif %}

   {% if data2.exists == True%}
   
   <h2>Here is a list of the events that this member with id {{data2.member_id}} has attended</h2>
   
   {% for n in data %}
   <div>
       <p>Event_id: {{n['event_id']}}</p>
       <p>Date: {{n['date']}}</p>
       <p>Type: {{n['type']}}</p>
       <p>Notes: {{n['notes']}}</p>
       <p>Location: {{n['location']}}</p>
       <p>Status: {{n['status']}}</p>
       <br>
   </div>
   {% endfor %}



   {% endif %}


</body>


    </html>