<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fee_individual</title>
</head>

<body>
<h4>Go back to index page: <a href='/'>index page</a></h4>

{% if data2.exists == False%}
 <h1>The fee with id {{data2.fee_id}} is not paid by any member. It might be from fundraising.</h1>
{% endif %}


{% if data2.exists == True %}
<h1>This is the person who paid fee with id {{data2.fee_id}}</h1>
<div>
    <b>Member_id: </b>{{data.member_id}}
    <br>
    <b>First_name: </b>{{data.first_name}}
    <br>
    <b>Last_name: </b>{{data.last_name}}
    <br>
    <b>email: </b>{{data.email}}
    <br>
    <b>position: </b>{{data.position}}
    <br>
    <b>t_shirt_size: </b>{{data.tshirt_size}}
    <br>
    <b>phone_number: </b>{{data.phone_number}}
    <br>
</div>


{% endif %}


</body>
</html>