<!DOCTYPE html>

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fees</title>
</head>

<body>
<h4>Go back to index page: <a href='/'>index page</a></h4>
<h1>Welcome to Fee Page</h1>

    <div>
        <h3>I want to look up who paid a fee:</h3>
        <form method='GET' action='/fee_individual'>
            <label for="fee_id">Fee_id</label>
            <input type = "number" id="fee_id" name='fee_id' min="1" max="{{count.size}}" required>
            <button>Submit</button>
        </form>
    </div>

    <div>
        <h3>I want to look up what budgets that this fee has supported</h3>
        <form method='GET' action='/budget_by_fee'>
            <label for="fee_id_2">Fee_id</label>
            <input type = "number" id="fee_id_2" name='fee_id_2' min="1" max="{{count.size}}" required>
            <button>Submit</button>
        </form>
    </div>

            <div>
            <h2>I want to support a budget by a fee</h2>
            <form method='POST' action='/add_support_fee_budget'>
            <label for="fee_id_3">Fee_id</label>
            <input type = "number" id="fee_id_3" name='fee_id_3' min="1" max="{{count.size}}" required>
                <label for='budget_id2'>budget_id</label>
                <input type = "number" name='budget_id2' min="1" max="{{budgetcount.count}}" required>
                <button>Submit</button>
            </form>
        </div>

    
    <div>
        <h1>Here is a list of the fees we have</h1>
        {% for n in data %}
        <div>
            <p><b>Fee_id</b>: {{n.fee_id}} </p>
            <p><b>Date</b>: {{n.date}} </p>
            <p><b>Amount</b>: {{n.amount}} </p>
            <p><b>Source</b>: {{n.source}} </p>
            <p><b>Notes</b>: {{n.notes}} </p>
            <br>
            <br>
            <br>
        </div>
        {% endfor %}
    </div>
</body>
    </html>