<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <link rel="stylesheet" href={{ url_for('static', filename="css/style.css") }}>
</head>


<body>
 <div class="menu-bar">
    <ul>
        <li><a href="/members">Member</a></li>
        <li><a href="/majors">Major</a></li>
        <li><a href="/zipcodes">Zipcode</a></li>
        <li><a href="/events">Event</a></li>
        <li><a href="/fees">Fee</a></li>
        <li><a href="/budgets">Budget</a></li>
        <li><a href="/expenses">Expense</a></li>
    </ul>
 </div>

<div>
 <h1>Welcome to Index Page</h1>
</div>


</body>


</html>