<!DOCTYPE html>

<html lang="en">
<head>
        <meta charset="UTF-8">
    <title>Individual_event</title>
</head>
<body>
<h4>Go back to index page: <a href='/'>index lage</a></h4>
    <div>
        <h1>Here is the detailed information for this event with id {{data2.event_id}}</h1>
        <p>Event_id: {{data.event_id}}</p>
        <p>Name: {{data.name}}</p>
        <p>Date: {{data.date}}</p>
        <p>Type: {{data.type}}</p>
        <p>Notes: {{data.notes}}</p>
        <p>Location: {{data.location}}</p>
        <p>Status: {{data.status}}</p>
    </div>
</body>
    </html>